<h1>Showing subject {{name}}</h1>



<form class="container">
    <fieldset class="card">
        <div class="row">
            <label for="pricePerHour">
                Price Per Hour
                {{pricePerHour}}
            </label>
        </div>
        <div class="row">
            <a href="/subject"><button>Back</button></a>
        </div>
    </fieldset>
</form>